.content
{
  margin-top: 20px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  visibility:hidden;  
  width:30%;
  height: 80%;
  background-color:#e4ddf4;
  padding: 30px 35px 40px;
  box-sizing: border-box;
  border-radius: 10px;
}
.click-me
{
  width:100%;
  background: #5D9B95;
  text-align:center;
  font-size:24px;
  cursor:pointer;
}
#click
{
  background-color: white;
  display:none;
}
.click-me:hover
{
  background-color: #0a5378;
  color: white;
}

#click:checked~.content
{
  opacity:1;
  visibility:visible;
}
.grid-1{
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.titles{
  display: flex;
  gap: 1px;
}
.titles h4{
  width: 28%;
}
.header{
  width: 100%;
  display: flex;
  gap: 10px;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}
.addtext{
  text-align: right;
  width: 30%;

}
.search-div{
  text-align: left;
  width: 50%;
}
.seachBtn{
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;

  background-color: #9b9caa;
}
.search{
  background-color: #e4ddf4;
  width: 40%;
}
.content > select{
  display: block;
  text-align: left;
  margin: 10px;
}
.content > input{
  display: block;
  text-align: left;
  margin: 10px;
}
.content > label{
  display: block;
  text-align: left;
  margin: 10px;
}
option{
  text-align: left;

}
.content >input[type=submit] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  margin: 3px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}